<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="leanzote" frontName="leanzote">
            <module name="LeanCommerce_LeanZote"/>
        </route>
    </router>
</config>